<footer class="footer mt-auto">
    <section class="pt-4 pb-5 bg-white">
        <h2 class="visually-hidden">Основная информация</h2>

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <a class="navbar-brand" href="index.html" aria-label="На главную">
                        <img src="img/logo.webp" alt="Логотип Aerocoll" width="200" height="60">
                    </a>

                    <dl class="ps-3">
                        <dt>Номер телефона:</dt>
                        <dd>
                            <a href="tel:+74957493907"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                +7 495 749-39-07
                            </a>
                        </dd>

                        <dt>Электронная почта:</dt>
                        <dd>
                            <a href="mailto:order@novamelt.ru"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                order@novamelt.ru
                            </a>
                        </dd>

                        <dt>Адрес:</dt>
                        <dd class=text-primary>
                            108841, г. Москва, г. Троицк, площадь Академическая, дом 4, этаж 18, офис А4Р
                        </dd>
                    </dl>

                    <button type="button" class="btn btn-outline-primary ms-3" data-bs-toggle="modal"
                            data-bs-target="#leave-request">
                        Отправить запрос
                    </button>
                </div>

                <article class="col-12 col-md-6 col-lg-3 mt-3 ps-4 ps-md-1">
                    <h3 class="h5 text-uppercase mb-3">Продукция</h3>

                    <ul class="list-unstyled m-0">
                        <li class="mb-2">
                            <a href="production-subcategory-1.html"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                Дисперсионный клей Aerocoll
                            </a>
                        </li>

                        <li class="mb-2">
                            <a href="production-subcategory-2.html"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                Термоклей Rumelt
                            </a>
                        </li>

                        <li class="mb-2">
                            <a href="production-subcategory-4.html"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                Строительный клей
                            </a>
                        </li>
                    </ul>
                </article>

                <article class="col-12 col-md-6 col-lg-3 mt-3 ps-4 ps-lg-1">
                    <h3 class="h5 text-uppercase mb-3">Сотрудничество</h3>

                    <ul class="list-unstyled m-0">
                        <li class="mb-2">
                            <a href="cooperation.html#order"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                Заявка
                            </a>
                        </li>

                        <li class="mb-2">
                            <a href="cooperation.html#selection"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                Подбор клея
                            </a>
                        </li>

                        <li class="mb-2">
                            <a href="cooperation.html#testing"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                Тестирование
                            </a>
                        </li>

                        <li class="mb-2">
                            <a href="cooperation.html#delivery"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                Доставка
                            </a>
                        </li>

                        <li class="mb-2">
                            <a href="cooperation.html#payment"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                Оплата
                            </a>
                        </li>

                        <li class="mb-2">
                            <a href="cooperation.html#support"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                Поддержка
                            </a>
                        </li>
                    </ul>
                </article>

                <article class="col-12 col-md-6 col-lg-3 mt-3 ps-4 ps-md-1">
                    <h3 class="h5 text-uppercase mb-3">Инфо</h3>

                    <ul class="list-unstyled m-0">
                        <li class="mb-2">
                            <a href="about.html"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                О компании
                            </a>
                        </li>

                        <li class="mb-2">
                            <a href="contacts.html"
                               class="link-primary link-opacity-75 link-opacity-100-hover link-underline-opacity-100-hover">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </section>

    <section class="bg-primary py-3">
        <h2 class="visually-hidden">Копирайт</h2>

        <div class="container">
            <div class="row">
                <div class="col text-start">
                    <small class="text-light">© AEROCOLL 2018-2024</small>
                </div>

                <div class="col text-end">
                    <a href="public/privacy-policy.pdf" class="link-light link-opacity-75-hover">
                        <small>Политика обработки персональных данных</small>
                    </a>
                </div>
            </div>
        </div>
    </section>
</footer>