<header class="sticky-top bg-white">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-1 d-lg-none">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Переключить отображение навигации">
                    <span class="bi bi-list fs-2"></span>
                </button>
            </div>

            <div class="col-2">
                <a class="navbar-brand" href="index.html" aria-label="На главную">
                    <img src="img/logo.webp" alt="Логотип Aerocoll" width="200" height="60">
                </a>
            </div>
            <div class="col-auto me-auto d-none d-lg-flex">
                <div class="row text-end lh-1">
                    <div class="col-12">
                        <a href="tel:+74957493907" class="link-secondary fs-4 text-decoration-none"
                           aria-labelledby="call-back">
                            <span class="bi bi-telephone-forward fs-5 text-black-50"></span> +7 495 749-39-07
                        </a>
                    </div>

                    <div class="col-12">
                        <small id="call-back" class="text-black-50">обратный звонок</small>
                    </div>
                </div>
            </div>
            <div class="col-3 col-xl-2 d-none d-lg-flex">
                <button type="button" class="btn btn-outline-primary ms-auto" data-bs-toggle="modal"
                        data-bs-target="#leave-request">
                    Отправить запрос
                </button>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-0">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-around">
                    <li class="nav-item dropdown custom-dropdown">
                        @@if (active === 'about') {
                        <a href="about.html" id="about-dropdown"
                           class="nav-link dropdown-toggle text-uppercase py-3 active custom-dropdown__toggle"
                           aria-current="page" aria-expanded="false">
                            О компании
                        </a>
                        }

                        @@if (active !== 'about') {
                        <a href="about.html" id="about-dropdown"
                           class="nav-link dropdown-toggle text-uppercase py-3 custom-dropdown__toggle"
                           aria-expanded="false">
                            О компании
                        </a>
                        }

                        <ul class="dropdown-menu custom-dropdown__menu" aria-labelledby="about-dropdown">
                            <li><a class="dropdown-item text-uppercase" href="#">Политика качества</a></li>
                            <li><a class="dropdown-item text-uppercase" href="#">Новости</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown custom-dropdown custom-dropdown--no-position">
                        @@if (active === 'production') {
                        <a href="production.html" id="products-dropdown"
                           class="nav-link dropdown-toggle text-uppercase py-3 custom-dropdown__toggle active"
                           aria-current="page" aria-expanded="false">
                            Продукция
                        </a>
                        }

                        @@if (active !== 'production') {
                        <a href="production.html" id="products-dropdown"
                           class="nav-link dropdown-toggle text-uppercase py-3 custom-dropdown__toggle"
                           aria-expanded="false">
                            Продукция
                        </a>
                        }

                        <div class="dropdown-menu p-4 start-50 translate-middle-x custom-dropdown__menu custom-dropdown__menu--width-max"
                             aria-labelledby="products-dropdown">
                            <div class="row">
                                <div class="col-6">
                                    <a href="production-category.html"
                                       class="dropdown-header dropdown-item fs-5 fw-semibold text-uppercase">
                                        Промышленные клеи
                                    </a>

                                    <ul class="list-unstyled p-0">
                                        <li>
                                            <a href="#" class="dropdown-item text-uppercase">
                                                Водно-дисперсионные клеи Aerocoll
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="dropdown-item text-uppercase">Клей-расплав Rumelt</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-6">
                                    <a href="#" class="dropdown-header dropdown-item fs-5 fw-semibold text-uppercase">
                                        Строительно-Монтажные клеи
                                    </a>

                                    <ul class="list-unstyled p-0">
                                        <li>
                                            <a href="#" class="dropdown-item text-uppercase">Обойный клей</a>
                                        </li>

                                        <li>
                                            <a href="#" class="dropdown-item text-uppercase">Монтажный клей</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown custom-dropdown custom-dropdown--no-position">
                        @@if (active === 'cooperation') {
                        <a href="#" id="service-dropdown"
                           class="nav-link dropdown-toggle text-uppercase py-3 custom-dropdown__toggle active"
                           aria-current="page" aria-expanded="false">
                            Сотрудничество
                        </a>
                        }

                        @@if (active !== 'cooperation') {
                        <a href="cooperation.html" id="service-dropdown"
                           class="nav-link dropdown-toggle text-uppercase py-3 custom-dropdown__toggle"
                           aria-expanded="false">
                            Сотрудничество
                        </a>
                        }

                        <div class="dropdown-menu p-4 start-50 translate-middle-x custom-dropdown__menu custom-dropdown__menu--width-max"
                             aria-labelledby="service-dropdown">
                            <ul class="row list-unstyled gy-4">
                                <li class="col">
                                    <div class="card">
                                        <img src="img/image-placeholder.svg" class="card-img-top" alt="..." height="130">

                                        <div class="card-body">
                                            <a href="cooperation.html#order"
                                               class="link-secondary stretched-link text-decoration-none">
                                                Заявка
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li class="col">
                                    <div class="card">
                                        <img src="img/image-placeholder.svg" class="card-img-top" alt="..." height="130">

                                        <div class="card-body">
                                            <a href="cooperation.html#selection"
                                               class="link-secondary stretched-link text-decoration-none">
                                                Подбор клея
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li class="col">
                                    <div class="card">
                                        <img src="img/image-placeholder.svg" class="card-img-top" alt="..." height="130">

                                        <div class="card-body">
                                            <a href="cooperation.html#testing"
                                               class="link-secondary stretched-link text-decoration-none">
                                                Тестирование
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li class="col">
                                    <div class="card">
                                        <img src="img/image-placeholder.svg" class="card-img-top" alt="..." height="130">

                                        <div class="card-body">
                                            <a href="cooperation.html#delivery"
                                               class="link-secondary stretched-link text-decoration-none">
                                                Доставка
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li class="col">
                                    <div class="card">
                                        <img src="img/image-placeholder.svg" class="card-img-top" alt="..." height="130">

                                        <div class="card-body">
                                            <a href="cooperation.html#payment"
                                               class="link-secondary stretched-link text-decoration-none">
                                                Оплата
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li class="col">
                                    <div class="card">
                                        <img src="img/image-placeholder.svg" class="card-img-top" alt="..." height="130">

                                        <div class="card-body">
                                            <a href="cooperation.html#support"
                                               class="link-secondary stretched-link text-decoration-none">
                                                Поддержка
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        @@if (active === 'contacts') {
                        <a class="nav-link text-uppercase pt-3 pb-3 custom-nav-link active" href="contacts.html"
                           aria-current="page">
                            Контакты
                        </a>
                        }

                        @@if (active !== 'contacts') {
                        <a class="nav-link text-uppercase pt-3 pb-3 custom-nav-link" href="contacts.html">Контакты</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="modal fade" id="leave-request" tabindex="-1" aria-labelledby="leave-request-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="leave-request-label">Оставьте запрос</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="lead">
                    Заполните форму обратной связи и мы пришлем вам коммерческое предложение.
                </p>

                <form>
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Ваше имя *</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="col-form-label">Ваш email</label>
                        <input type="email" class="form-control" id="email">
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="col-form-label">Ваш телефон *</label>
                        <input type="tel" class="form-control" id="phone" required>
                    </div>

                    <div class="mb-3">
                        <label for="comment" class="col-form-label">Ваши комментарии</label>
                        <textarea class="form-control" id="comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </div>
</div>