.custom-activity-card {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--bs-card-border-color);
    border-left: none;
}

.custom-activity-card__image-wrapper {
    min-height: 200px;

    position: relative;

    overflow: hidden;
}

.custom-activity-card__image {
    max-height: 100%;
    height: auto;
    width: auto;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    border-radius: var(--bs-border-radius);
    box-shadow: var(--bs-box-shadow);
}

@media (min-width: 768px) {
    .custom-activity-card {
        border: none;
    }

    .custom-activity-card--bg-left {
        background-image: linear-gradient(to right, var(--color-pale-blue) 0%, transparent 35%);
    }

    .custom-activity-card--bg-right {
        background-image: linear-gradient(to left, var(--color-pale-blue) 0%, transparent 35%);
    }

    .custom-activity-card__image-wrapper {
        height: 100%;
    }

    .custom-activity-card__image {
        min-width: 100%;

        border-radius: 0;
        box-shadow: none;
    }
}

@media (min-width: 992px) {
    .custom-activity-card__image {
        max-width: 100%;
        max-height: none;
        min-height: 100%;
    }
}