.custom-dropdown {
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);

    border-radius: 0;
    transition: all 200ms linear;
}

.custom-dropdown:has(.custom-dropdown__toggle:hover) {
    background-color: #FFFFFF;
}

.custom-dropdown:has(.custom-dropdown__toggle:hover) .custom-dropdown__link,
.custom-dropdown:has(.custom-dropdown__toggle:hover) .custom-dropdown__toggle {
    color: var(--primary-color);
}

.custom-dropdown__toggle:focus-visible {
    box-shadow: none;
}

.custom-dropdown__toggle::after {
    content: none;
}

.custom-dropdown__menu[data-bs-popper] {
    margin-top: 0;
}

.custom-dropdown--no-position {
    position: initial;
}

@media (min-width: 576px) {
    .custom-dropdown__menu--width-max {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .custom-dropdown__menu--width-max {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .custom-dropdown__toggle::after {
        content: "";
    }

    .custom-dropdown__menu--width-max {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .custom-dropdown__menu--width-max {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .custom-dropdown__menu--width-max {
        width: 1320px;
    }
}
