.features {
    --features-height: 600;
    --separator-length: 50px;
    --square-side: 100px;
}

.features__wrapper {
    position: relative;
}

.features__brand {
    width: var(--square-side);
    height: var(--square-side);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, -50%);

    background-color: #FFFFFF;
}

.features__brand-image {
    width: 100%;
    height: auto;
}

.features__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: calc(var(--features-height) * 1px / 4) calc(var(--features-height) * 1px / 2) calc(var(--features-height) * 1px / 4);
    padding: 0;
    margin: 0;

    list-style: none;
}

.features__item {
    display: flex;
    flex-direction: column;

    position: relative;
}

.features__item::after {
    position: absolute;

    content: "";

    background-color: var(--color-pale-blue);
}

.features__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-content: flex-start;
    padding-right: 100px;

    text-align: right;
}

.features__item:nth-child(1)::after {
    width: 2px;
    height: var(--separator-length);

    top: 0;
    right: -1px;
}

.features__item:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    justify-content: flex-start;
    padding-left: 100px;

    text-align: left;
}

.features__item:nth-child(2)::after {
    width: calc(var(--separator-length) * 4);
    height: 2px;

    left: 50%;
    bottom: -1px;
}

.features__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-content: center;

    text-align: right;
}

.features__item:nth-child(3)::after {
    width: calc(var(--separator-length) * 4);
    height: 2px;

    right: 0;
    top: -1px;
}

.features__item:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-content: center;

    text-align: left;
}

.features__item:nth-child(4)::after {
    width: calc(var(--separator-length) * 4);
    height: 2px;

    left: 0;
    bottom: -1px;
}

.features__item:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-content: flex-end;
    padding-right: 100px;

    text-align: right;
}

.features__item:nth-child(5)::after {
    width: calc(var(--separator-length) * 4);
    height: 2px;

    right: 50%;
    top: -1px;
}

.features__item:nth-child(6) {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    justify-content: flex-end;
    padding-left: 100px;

    text-align: left;
}

.features__item:nth-child(6)::after {
    height: var(--separator-length);
    width: 2px;

    bottom: 0;
    left: -1px;
}

.features__item-title {
    font-size: 24px;
    color: var(--primary-color);

    transition: all 200ms linear;
}

.features__item:hover .features__item-title {
    color: var(--primary-bright-color);
}

.features__item-icon {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--square-side);
    height: var(--square-side);
    border: 1px solid var(--primary-color);

    position: absolute;
    z-index: 1;

    font-size: 40px;
    color: var(--primary-color);

    transition: all 200ms linear;
}

.features__item-icon::before {
    position: absolute;
    z-index: -1;

    content: "";

    background-color: var(--color-pale-blue);
    transition: all 200ms linear;
}

.features__item:hover .features__item-icon {
    font-size: 45px;
    color: #FFFFFF;
}

.features__item:nth-child(1) .features__item-icon {
    border-bottom: none;

    top: 100%;
    right: calc(var(--square-side) / 2);
}

.features__item:nth-child(2) .features__item-icon {
    border-bottom: none;

    top: 100%;
    left: calc(var(--square-side) / 2);
}

.features__item:nth-child(3) .features__item-icon {
    top: 50%;
    left: calc(200% - var(--square-side) * 1.5);

    transform: translateY(-50%);
}

.features__item:nth-child(4) .features__item-icon {
    top: 50%;
    right: calc(200% - var(--square-side) * 1.5);

    transform: translateY(-50%);
}

.features__item:nth-child(5) .features__item-icon {
    border-top: none;

    bottom: 100%;
    right: calc(var(--square-side) / 2);
}

.features__item:nth-child(6) .features__item-icon {
    border-top: none;

    bottom: 100%;
    left: calc(var(--square-side) / 2);
}

.features__item:nth-child(1) .features__item-icon::before,
.features__item:nth-child(2) .features__item-icon::before {
    width: 100%;
    height: 0;

    top: 0;
}

.features__item:nth-child(1):hover .features__item-icon::before,
.features__item:nth-child(2):hover .features__item-icon::before {
    height: 100%;
}

.features__item:nth-child(3) .features__item-icon::before {
    width: 0;
    height: 100%;

    left: 0;
}

.features__item:nth-child(4) .features__item-icon::before {
    width: 0;
    height: 100%;

    right: 0;
}

.features__item:nth-child(3):hover .features__item-icon::before,
.features__item:nth-child(4):hover .features__item-icon::before {
    width: 100%;
}

.features__item:nth-child(5) .features__item-icon::before,
.features__item:nth-child(6) .features__item-icon::before {
    width: 100%;
    height: 0;

    bottom: 0;
}

.features__item:nth-child(5):hover .features__item-icon::before,
.features__item:nth-child(6):hover .features__item-icon::before {
    height: 100%;
}

.features__item-hover {
    height: 100%;
    width: 60%;

    position: absolute;
}

.features__item:nth-child(3) .features__item-hover {
    left: 100%;
}

.features__item:nth-child(4) .features__item-hover {
    right: 100%;
}

@media (max-width: 992px) {
    .features__brand {
        display: none;
    }

    .features__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
    }

    .features__list .features__item {
        display: block;
        padding: 0 0 0 50px;

        text-align: left;
    }

    .features__item::before {
        content: none;
    }

    .features__item::after {
        content: none;
    }

    .features__item-icon {
        border: none;
        width: auto;
        height: auto;
    }

    .features__item-icon::before {
        content: none;
    }

    .features__list .features__item .features__item-icon {
        top: -8px;
        right: auto;
        bottom: auto;
        left: 0;

        font-size: 35px;

        transform: none;
    }

    .features__list .features__item:hover .features__item-icon {
        color: var(--primary-bright-color);

        transform: scale(1.3);
    }

    .features__item-hover {
        display: none;
    }
}