.home-slider__wrapper {
    padding: 0;
    margin: 0;
}

.home-slider__slide {
    height: 20vw;

    position: relative;

    -webkit-transform: translate3d(0, 0, 0);
}

.home-slider__image {
    min-width: 100%;
    min-height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    filter: brightness(0.5);
}

.home-slider__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 48px 0;

    position: relative;
}

.home-slider__title {
    font-size: 40px;
}

.home-slider__text {
    font-size: 24px;
}

.home-slider__bullet--active {
    background-color: #FFFFFF;
    opacity: 1;
}

@media (max-width: 1400px) {
    .home-slider__slide {
        height: 30vw;
    }
}

@media (max-width: 992px) {
    .home-slider__slide {
        height: 45vw;
    }

    .home-slider__title {
        font-size: 32px;
    }

    .home-slider__text {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .home-slider__slide {
        height: 50vw;
    }

    .home-slider__title {
        font-size: 24px;
    }
}