.home {
    --margin-bottom: 50px;

    width: 100%;
    height: 450px;
    margin-bottom: calc(var(--margin-bottom) * 2);

    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home__title-block {
    margin-bottom: calc(var(--margin-bottom) * -1);
    padding: 48px;
}

@media (max-width: 576px) {
    .home__title-block {
        padding: 24px;
        max-width: 75%;
    }

}