.news-slider__button--prev {
    left: -24px;
}

.news-slider__button--next {
    right: -24px;
}

.news-slider .news-slider__pagination {
    bottom: 0;
}

.news-slider__bullet--active {
    background-color: var(--primary-bright-color);
    opacity: 1;
}