:root {
    --primary-color: #11204E;
    --primary-bright-color: #3450A3;
    --primary-color-rgb: 17, 32, 78;
    --bs-blue: var(--primary-color);
    --bs-primary: var(--primary-color);
    --bs-primary-rgb: var(--primary-color-rgb);
}

.btn-primary {
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
}

.btn-outline-primary {
    --bs-btn-color: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-bg: var(--primary-color);
    --bs-btn-hover-border-color: var(--primary-color);
}

.breadcrumb {
    --bs-breadcrumb-divider-color: #FFFFFF;
}